polars>=1.2.1
pandas>=2.2.3
pandera>=0.19.3
pyarrow>=17.0.0
 
pydantic>=2.8.2
pydantic-settings>=2.3.4
python-dotenv>=1.0.1
 
sqlalchemy>=2.0.31
psycopg2-binary>=2.9.10
geoalchemy2>=0.15.1
redis>=5.0.7
 
pytest>=8.2.2